main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  background-color: rgb(24, 224, 224);
}

.form {
  justify-content: center;
  flex-direction: column;
  background-color: rgb(130, 130, 247);
}